<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<PropertyGroup>
		<NoWarn>CS8600;CS8602;CS8604</NoWarn>
	</PropertyGroup>
	<connectionStrings>
		<add name="MarketDb"
			 connectionString="Server=DESKTOP-7DHL1BG\SQLEXPRESS;Database=dbMarket;Trusted_Connection=True;Encrypt=False;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>